@let _shopItem = shopItem();

<a
  class="group w-full flex flex-col gap-2 p-(--content-padding) rounded-xl bg-(--color-secondary) hover:bg-(--color-tertiary) transition-colors duration-500"
  [href]="_shopItem.url"
  target="_blank"
  (mouseenter)="playForward()"
  (mouseleave)="playReverse()"
>
  <div
    class="w-full aspect-square overflow-hidden rounded-sm group-hover:rounded-md group-hover:scale-103 transition-all duration-500 bg-(--color-primary)/50"
  >
    <img
      class="w-full h-full object-cover group-hover:scale-105 transition-transform duration-500"
      [src]="_shopItem.thumbnail"
      (error)="onImageError($event, _shopItem)"
    />
  </div>

  <div class="flex flex-col justify-end h-full">
    <span
      class="text-2xl font-semibold truncate text-(--color-tertiary) group-hover:text-(--color-primary) transition-colors duration-500"
    >
      {{ _shopItem.name }}
    </span>

    <div class="flex justify-between items-center">
      @let _artistName = artistName();

      <span
        class="flex-1 text-sm font-medium truncate text-(--color-tertiary) group-hover:text-(--color-primary) opacity-80 duration-500 transition-colors"
      >
        @if (_artistName) {
        <a routerLink="/artists" [fragment]="_shopItem.artistId" target="_top">
          @{{ _artistName }}
        </a>
        } @else {
        <span> Unknown artist </span>
        }
      </span>

      @if (!isMobile) {
      <div class="relative w-6 aspect-square overflow-hidden">
        <ng-lottie
          class="absolute scale-200"
          [options]="lottieBagOptions"
          (animationCreated)="onCreated($event)"
        ></ng-lottie>
      </div>
      } @else {
      <img class="w-6 aspect-square" src="/lottie/bag-tertiary.webp" />
      }
    </div>
  </div>
</a>
