@let _artist = artist();

<div
  [id]="_artist.id"
  class="group w-full flex flex-col justify-center items-center text-center gap-6 p-3 rounded-xl border-2 border-(--color-tertiary)/20 bg-(--color-secondary) text-(--color-tertiary)"
>
  <div
    class="w-24 aspect-square flex-none flex justify-center items-center overflow-hidden rounded-full group-hover:scale-110 transition-all duration-500 bg-linear-to-br from-(--color-tertiary)/50 to-(--color-tertiary)/15"
  >
    @if (_artist.thumbnail) {
    <img
      class="w-full h-full object-cover group-hover:scale-105 transition-transform duration-500"
      [src]="_artist.thumbnail"
    />
    } @else {
    <span class="text-xl font-bold">{{ _artist.name.charAt(0) }}</span>
    }
  </div>

  <div>
    <p class="text-2xl leading-6 font-semibold truncate">
      {{ _artist.name }}
    </p>

    <p class="truncate">
      {{ shopItemAggregateService.getCountFor(_artist.id) }} items contributed
    </p>
  </div>

  <div class="flex items-center gap-2">
    <a
      class="hover:scale-120 transition-transform duration-150"
      [href]="_artist.url"
      target="_blank"
      tooltip="ACGgoods"
    >
      <img
        class="w-4.5 aspec-square -translate-y-1"
        src="/lottie/bag-tertiary.webp"
      />
    </a>

    @for (otherUrl of _artist.otherUrls; track otherUrl.url) {
    <a
      class="flex items-center justify-center hover:scale-120 transition-transform duration-150"
      [href]="otherUrl.url"
      target="_blank"
      [tooltip]="otherUrl.label"
    >
      <i [class]="`text-xl ${otherUrl.icon}`"></i>
    </a>
    }
  </div>
</div>
