<div class="relative inline-block group/tooltip" tabindex="0">
  <ng-content></ng-content>

  @if (!disabled()) {
  <div
    class="pointer-events-none absolute z-50 px-2 py-1 rounded bg-black text-white text-xs whitespace-nowrap opacity-0 scale-95 transition-all duration-200 group-hover/tooltip:opacity-100 group-hover/tooltip:scale-100 group-focus-visible/tooltip:opacity-100 group-focus-visible/tooltip:scale-100"
    [ngClass]="tooltipPositionClasses[position()]"
    role="tooltip"
  >
    {{ text() }}
  </div>
  }
</div>
