<div class="flex justify-between items-center h-18 mx-4 md:mx-0">
  <h1 class="text-lg text-(--color-tertiary) font-black">
    HellACollab Snowball-Fight Fan Merch
  </h1>

  <div class="hidden md:flex gap-4 items-center">
    @for (item of items; track item.route) {
    <a
      class="relative text-(--color-tertiary)! font-medium group"
      routerLinkActive="router-link-active"
      [routerLinkActiveOptions]="{ exact: false }"
      [routerLink]="item.route"
    >
      {{ item.label }}

      <span
        class="absolute bottom-0 left-0 h-1 w-0 bg-(--color-secondary) transition-all group-[.router-link-active]:w-full"
      ></span>
    </a>
    }
  </div>

  <button
    class="md:hidden relative w-8 aspect-square overflow-hidden z-50!"
    (click)="toggleOverlay()"
  >
    <ng-lottie
      class="block scale-300"
      [options]="lottieBurgerOptions"
      (animationCreated)="onCreated($event)"
    ></ng-lottie>
  </button>
</div>

@if (isOverlayOpen()) {
<div
  class="absolute inset-0 w-screen h-screen flex justify-center items-center bg-(--color-primary)"
>
  <div class="w-[50vw] flex flex-col gap-4">
    @for (item of items; track item.route) {
    <a
      class="relative text-2xl text-(--color-tertiary)! font-medium [.router-link-active]:scale-128 origin-left"
      routerLinkActive="router-link-active"
      [routerLinkActiveOptions]="{ exact: false }"
      [routerLink]="item.route"
      (click)="toggleOverlay()"
    >
      {{ item.label }}
    </a>
    }
  </div>
</div>
}
