@if (showBanner()) {
<div
  class="fixed bottom-0 bg-(--color-tertiary) text-black z-50 md:bottom-2 md:right-2 md:w-96 md:rounded-lg md:shadow-lg"
>
  <div class="flex flex-col gap-4 p-4">
    <p class="text-lg font-bold">Disclaimer</p>

    <p>
      This site is a fan project and is not affiliated with the official brand
      in any way. All merchandise is fan-made and sold via a third-party store.
    </p>

    <button
      class="bg-(--color-primary) hover:bg-(--color-secondary) text-(--color-tertiary) hover:text-(--color-primary) p-2 rounded-lg cursor-pointer"
      (click)="acceptDisclaimer()"
    >
      I understand
    </button>
  </div>
</div>
}
