@import 'tailwindcss';

[class^='mgc_']::before,
[class*=' mgc_']::before {
  color: inherit !important;
}

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --breakpoint-2xl: 64rem;
  --breakpoint-xl: 50rem;
  --breakpoint-lg: 40rem;
  --breakpoint-md: 28rem;
  --breakpoint-sm: 22rem;
}

:root {
  --color-primary: #03345e;
  --color-secondary: #5486b4;
  --color-tertiary: #d1d9e4;

  --content-padding: 0.75rem;
}

body {
  @apply bg-(--color-primary);
}
